{#
  Two column 75/25 layout template for Triple G theme.
  Regions: left_content (75%), right_content (25%)
#}
{%
  set classes = [
    'layout',
    'layout--two-column-64-33'
  ]
%}

{% if layout.id == 'two_column_33_64' %}
  {% set extra_classes = 'layout--two-column-33-64__container' %}
{% endif %}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="layout--two-column-64-33__container{% if extra_classes %} {{ extra_classes }}{% endif %}">
      {% if content.left_content %}
        <div{{ region_attributes.left_content.addClass('layout__region', 'layout--two-column-64-33__left') }}>
          {{ content.left_content }}
        </div>
      {% endif %}

      {% if content.right_content %}
        <div{{ region_attributes.right_content.addClass('layout__region', 'layout--two-column-64-33__right') }}>
          {{ content.right_content }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
